In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')
descr = pd.read_csv('data/train_data_dict.csv')

In [3]:
descr

,Column,Description
0,case_id,Case_ID registered in Hospital
1,Hospital_code,Unique code for the Hospital
2,Hospital_type_code,Unique code for the type of Hospital
3,City_Code_Hospital,City Code of the Hospital
4,Hospital_region_code,Region Code of the Hospital
5,Available Extra Rooms in Hospital,Number of Extra rooms available in the Hospital
6,Department,Department overlooking the case
7,Ward_Type,Code for the Ward type
8,Ward_Facility_Code,Code for the Ward Facility
9,Bed Grade,Condition of Bed in the Ward
10,patientid,Unique Patient Id
11,City_Code_Patient,City Code for the patient
12,Type of Admission,Admission Type registered by the Hospital
13,Severity of Illness,Severity of the illness recorded at the time o...
14,Visitors with Patient,Number of Visitors with the patient
15,Age,Age of the patient
16,Admission_Deposit,Deposit at the Admission Time
17,Stay,Stay Days by the patient

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318438 entries, 0 to 318437
Data columns (total 18 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   case_id                            318438 non-null  int64
 1   Hospital_code                      318438 non-null  int64
 2   Hospital_type_code                 318438 non-null  object
 3   City_Code_Hospital                 318438 non-null  int64
 4   Hospital_region_code               318438 non-null  object
 5   Available Extra Rooms in Hospital  318438 non-null  int64
 6   Department                         318438 non-null  object
 7   Ward_Type                          318438 non-null  object
 8   Ward_Facility_Code                 318438 non-null  object
 9   Bed Grade                          318325 non-null  float64
 10  patientid                          318438 non-null  int64
 11  City_Code_Patient                  313906 non-null  float64
 12  Type of Admission                  318438 non-null  object
 13  Severity of Illness                318438 non-null  object
 14  Visitors with Patient              318438 non-null  int64
 15  Age                                318438 non-null  object
 16  Admission_Deposit                  318438 non-null  float64
 17  Stay                               318438 non-null  object
dtypes: float64(3), int64(6), object(9)
memory usage: 43.7+ MB

In [5]:
train.head()

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit,Stay
0,1,8,c,3,Z,3,radiotherapy,R,F,2.0,31397,7.0,Emergency,Extreme,2,51-60,4911.0,0-10
1,2,2,c,5,Z,2,radiotherapy,S,F,2.0,31397,7.0,Trauma,Extreme,2,51-60,5954.0,41-50
2,3,10,e,1,X,2,anesthesia,S,E,2.0,31397,7.0,Trauma,Extreme,2,51-60,4745.0,31-40
3,4,26,b,2,Y,2,radiotherapy,R,D,2.0,31397,7.0,Trauma,Extreme,2,51-60,7272.0,41-50
4,5,26,b,2,Y,2,radiotherapy,S,D,2.0,31397,7.0,Trauma,Extreme,2,51-60,5558.0,41-50

In [6]:
test.head()

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit
0,318439,21,c,3,Z,3,gynecology,S,A,2.0,17006,2.0,Emergency,Moderate,2,71-80,3095.0
1,318440,29,a,4,X,2,gynecology,S,F,2.0,17006,2.0,Trauma,Moderate,4,71-80,4018.0
2,318441,26,b,2,Y,3,gynecology,Q,D,4.0,17006,2.0,Emergency,Moderate,3,71-80,4492.0
3,318442,6,a,6,X,3,gynecology,Q,F,2.0,17006,2.0,Trauma,Moderate,3,71-80,4173.0
4,318443,28,b,11,X,2,gynecology,R,F,2.0,17006,2.0,Trauma,Moderate,4,71-80,4161.0

In [7]:
train.columns

Index(['case_id', 'Hospital_code', 'Hospital_type_code', 'City_Code_Hospital',
       'Hospital_region_code', 'Available Extra Rooms in Hospital',
       'Department', 'Ward_Type', 'Ward_Facility_Code', 'Bed Grade',
       'patientid', 'City_Code_Patient', 'Type of Admission',
       'Severity of Illness', 'Visitors with Patient', 'Age',
       'Admission_Deposit', 'Stay'],
      dtype='object')

In [8]:
test.columns

Index(['case_id', 'Hospital_code', 'Hospital_type_code', 'City_Code_Hospital',
       'Hospital_region_code', 'Available Extra Rooms in Hospital',
       'Department', 'Ward_Type', 'Ward_Facility_Code', 'Bed Grade',
       'patientid', 'City_Code_Patient', 'Type of Admission',
       'Severity of Illness', 'Visitors with Patient', 'Age',
       'Admission_Deposit'],
      dtype='object')

### "stay" is our target variable

In [9]:
train['Stay'].unique()

array(['0-10', '41-50', '31-40', '11-20', '51-60', '21-30', '71-80',
       'More than 100 Days', '81-90', '61-70', '91-100'], dtype=object)

In [10]:
 train['Stay'] =  train['Stay'] .replace(('0-10', '41-50', '31-40', '11-20', '51-60', '21-30', '71-80',
       'More than 100 Days', '81-90', '61-70', '91-100'),(0,  4,  3,  1,  5,  2,  7, 10,  8,  6,  9))

In [11]:
train['Stay'].unique()

array([ 0,  4,  3,  1,  5,  2,  7, 10,  8,  6,  9], dtype=int64)

In [12]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318438 entries, 0 to 318437
Data columns (total 18 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   case_id                            318438 non-null  int64
 1   Hospital_code                      318438 non-null  int64
 2   Hospital_type_code                 318438 non-null  object
 3   City_Code_Hospital                 318438 non-null  int64
 4   Hospital_region_code               318438 non-null  object
 5   Available Extra Rooms in Hospital  318438 non-null  int64
 6   Department                         318438 non-null  object
 7   Ward_Type                          318438 non-null  object
 8   Ward_Facility_Code                 318438 non-null  object
 9   Bed Grade                          318325 non-null  float64
 10  patientid                          318438 non-null  int64
 11  City_Code_Patient                  313906 non-null  float64
 12  Type of Admission                  318438 non-null  object
 13  Severity of Illness                318438 non-null  object
 14  Visitors with Patient              318438 non-null  int64
 15  Age                                318438 non-null  object
 16  Admission_Deposit                  318438 non-null  float64
 17  Stay                               318438 non-null  int64
dtypes: float64(3), int64(7), object(8)
memory usage: 43.7+ MB

In [13]:
object_var = train.select_dtypes(include='object')
object_var.head()

,Hospital_type_code,Hospital_region_code,Department,Ward_Type,Ward_Facility_Code,Type of Admission,Severity of Illness,Age
0,c,Z,radiotherapy,R,F,Emergency,Extreme,51-60
1,c,Z,radiotherapy,S,F,Trauma,Extreme,51-60
2,e,X,anesthesia,S,E,Trauma,Extreme,51-60
3,b,Y,radiotherapy,R,D,Trauma,Extreme,51-60
4,b,Y,radiotherapy,S,D,Trauma,Extreme,51-60

In [14]:
numerical_var = train.select_dtypes(include='number')
numerical_var.head()

,case_id,Hospital_code,City_Code_Hospital,Available Extra Rooms in Hospital,Bed Grade,patientid,City_Code_Patient,Visitors with Patient,Admission_Deposit,Stay
0,1,8,3,3,2.0,31397,7.0,2,4911.0,0
1,2,2,5,2,2.0,31397,7.0,2,5954.0,4
2,3,10,1,2,2.0,31397,7.0,2,4745.0,3
3,4,26,2,2,2.0,31397,7.0,2,7272.0,4
4,5,26,2,2,2.0,31397,7.0,2,5558.0,4

## Traet Missing Variable

In [15]:
train.isnull().sum()

case_id                                 0
Hospital_code                           0
Hospital_type_code                      0
City_Code_Hospital                      0
Hospital_region_code                    0
Available Extra Rooms in Hospital       0
Department                              0
Ward_Type                               0
Ward_Facility_Code                      0
Bed Grade                             113
patientid                               0
City_Code_Patient                    4532
Type of Admission                       0
Severity of Illness                     0
Visitors with Patient                   0
Age                                     0
Admission_Deposit                       0
Stay                                    0
dtype: int64

In [16]:
train['Bed Grade'] = train['Bed Grade'].fillna(train['Bed Grade'].mode()[0])
test['Bed Grade'] = test['Bed Grade'].fillna(test['Bed Grade'].mode()[0])

In [17]:
train['City_Code_Patient'] = train['City_Code_Patient'].fillna(train['City_Code_Patient'].mode()[0])
test['City_Code_Patient'] = test['City_Code_Patient'].fillna(test['City_Code_Patient'].mode()[0])

In [18]:
train.isnull().sum()

case_id                              0
Hospital_code                        0
Hospital_type_code                   0
City_Code_Hospital                   0
Hospital_region_code                 0
Available Extra Rooms in Hospital    0
Department                           0
Ward_Type                            0
Ward_Facility_Code                   0
Bed Grade                            0
patientid                            0
City_Code_Patient                    0
Type of Admission                    0
Severity of Illness                  0
Visitors with Patient                0
Age                                  0
Admission_Deposit                    0
Stay                                 0
dtype: int64

In [19]:
#unique value in all column train
cols = train.columns
for col in cols:
    print(col,train[col].nunique())

case_id 318438
Hospital_code 32
Hospital_type_code 7
City_Code_Hospital 11
Hospital_region_code 3
Available Extra Rooms in Hospital 18
Department 5
Ward_Type 6
Ward_Facility_Code 6
Bed Grade 4
patientid 92017
City_Code_Patient 37
Type of Admission 3
Severity of Illness 3
Visitors with Patient 28
Age 10
Admission_Deposit 7300
Stay 11

In [20]:
train.drop(['case_id'], inplace=True, axis=1)
test.drop(['case_id'], inplace=True, axis=1)

In [21]:
train.drop(['patientid'], inplace=True, axis=1)
test.drop(['patientid'], inplace=True, axis=1)

## Treat Categorical Variable

In [22]:
object_var.head()

,Hospital_type_code,Hospital_region_code,Department,Ward_Type,Ward_Facility_Code,Type of Admission,Severity of Illness,Age
0,c,Z,radiotherapy,R,F,Emergency,Extreme,51-60
1,c,Z,radiotherapy,S,F,Trauma,Extreme,51-60
2,e,X,anesthesia,S,E,Trauma,Extreme,51-60
3,b,Y,radiotherapy,R,D,Trauma,Extreme,51-60
4,b,Y,radiotherapy,S,D,Trauma,Extreme,51-60

In [23]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
train['Age'] = le.fit_transform(train['Age'])
test['Age'] = le.fit_transform(test['Age'])

In [24]:
# lets encode the education in their degree of importance 
train['Severity of Illness']= train['Severity of Illness'].replace(("Moderate", "Minor", "Extreme"),
                                                (3, 2, 1))
test['Severity of Illness']= test['Severity of Illness'].replace(("Moderate", "Minor", "Extreme"),
                                                (3, 2, 1))

In [25]:
train['Hospital_type_code'].value_counts()

a    143425
b     68946
c     45928
e     24770
d     20389
f     10703
g      4277
Name: Hospital_type_code, dtype: int64

In [26]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
train['Hospital_type_code'] = le.fit_transform(train['Hospital_type_code'])
test['Hospital_type_code'] = le.fit_transform(test['Hospital_type_code'])

In [27]:
train['Department'].value_counts()

gynecology            249486
anesthesia             29649
radiotherapy           28516
TB & Chest disease      9586
surgery                 1201
Name: Department, dtype: int64

In [28]:
train['Hospital_region_code'].value_counts()

X    133336
Y    122428
Z     62674
Name: Hospital_region_code, dtype: int64

In [29]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
train['Hospital_region_code'] = le.fit_transform(train['Hospital_region_code'])
test['Hospital_region_code'] = le.fit_transform(test['Hospital_region_code'])

In [30]:
train['Hospital_region_code'].value_counts()

0    133336
1    122428
2     62674
Name: Hospital_region_code, dtype: int64

In [31]:
train['Ward_Type'].value_counts()

R    127947
Q    106165
S     77794
P      5046
T      1477
U         9
Name: Ward_Type, dtype: int64

In [32]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
train['Ward_Type'] = le.fit_transform(train['Ward_Type'])
test['Ward_Type'] = le.fit_transform(test['Ward_Type'])

In [33]:
train['Ward_Type'].value_counts()

2    127947
1    106165
3     77794
0      5046
4      1477
5         9
Name: Ward_Type, dtype: int64

In [34]:
train['Ward_Facility_Code'].value_counts()

F    112753
E     55351
D     51809
C     35463
B     35156
A     27906
Name: Ward_Facility_Code, dtype: int64

In [35]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
train['Ward_Facility_Code'] = le.fit_transform(train['Ward_Facility_Code'])
test['Ward_Facility_Code'] = le.fit_transform(test['Ward_Facility_Code'])

In [36]:
train['Ward_Facility_Code'].value_counts()

5    112753
4     55351
3     51809
2     35463
1     35156
0     27906
Name: Ward_Facility_Code, dtype: int64

In [37]:
train['Type of Admission'].value_counts()

Trauma       152261
Emergency    117676
Urgent        48501
Name: Type of Admission, dtype: int64

In [38]:
object_var = train.select_dtypes(include='object')
object_var.head()

     Department Type of Admission
0  radiotherapy         Emergency
1  radiotherapy            Trauma
2    anesthesia            Trauma
3  radiotherapy            Trauma
4  radiotherapy            Trauma

In [39]:
#Dummy Variables:
train = pd.get_dummies(train, columns =['Department','Type of Admission'])
test = pd.get_dummies(test, columns =['Department','Type of Admission'])

In [40]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318438 entries, 0 to 318437
Data columns (total 22 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Hospital_code                      318438 non-null  int64
 1   Hospital_type_code                 318438 non-null  int32
 2   City_Code_Hospital                 318438 non-null  int64
 3   Hospital_region_code               318438 non-null  int32
 4   Available Extra Rooms in Hospital  318438 non-null  int64
 5   Ward_Type                          318438 non-null  int32
 6   Ward_Facility_Code                 318438 non-null  int32
 7   Bed Grade                          318438 non-null  float64
 8   City_Code_Patient                  318438 non-null  float64
 9   Severity of Illness                318438 non-null  int64
 10  Visitors with Patient              318438 non-null  int64
 11  Age                                318438 non-null  int32
 12  Admission_Deposit                  318438 non-null  float64
 13  Stay                               318438 non-null  int64
 14  Department_TB & Chest disease      318438 non-null  uint8
 15  Department_anesthesia              318438 non-null  uint8
 16  Department_gynecology              318438 non-null  uint8
 17  Department_radiotherapy            318438 non-null  uint8
 18  Department_surgery                 318438 non-null  uint8
 19  Type of Admission_Emergency        318438 non-null  uint8
 20  Type of Admission_Trauma           318438 non-null  uint8
 21  Type of Admission_Urgent           318438 non-null  uint8
dtypes: float64(3), int32(5), int64(6), uint8(8)
memory usage: 30.4 MB

In [41]:
# numeric_features = train.select_dtypes(include=[np.number])
# corr = numeric_features.corr()
#correlation matrix
# fig, ax = plt.subplots(figsize=(25,25))  
# sns.heatmap(corr,square=True,ax=ax,annot=True,linewidths=.5);

In [42]:
#Export files as modified versions:
train.to_csv("data/train_cleaned.csv",index=False)
test.to_csv("data/test_cleaned.csv",index=False)

## Model Build

In [43]:
train_df = pd.read_csv('data/train_cleaned.csv')
test_df = pd.read_csv('data/test_cleaned.csv')

In [44]:
# lets split the target data from the train data

y = train_df['Stay']
X = train_df.drop(['Stay'], axis = 1)
x_test = test_df

# lets print the shapes of these newly formed data sets
print("Shape of the x :", X.shape)
print("Shape of the y :", y.shape)
print("Shape of the test data :", x_test.shape)

Shape of the x : (318438, 21)
Shape of the y : (318438,)
Shape of the test data : (137057, 21)

In [45]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [46]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X =  sc.fit_transform(X)
X

array([[-1.19517603,  0.48391882, -0.57105545, ...,  1.30616129,
        -0.95721365, -0.42388118],
       [-1.89012389,  0.48391882,  0.07357963, ..., -0.76560223,
         1.04469885, -0.42388118],
       [-0.96352675,  1.78624835, -1.21569054, ..., -0.76560223,
         1.04469885, -0.42388118],
       ...,
       [-1.31100068, -0.81841071, -0.24873791, ...,  1.30616129,
        -0.95721365, -0.42388118],
       [-0.84770211, -0.16724594, -0.89337299, ..., -0.76560223,
         1.04469885, -0.42388118],
       [ 0.07889503, -0.81841071,  0.71821472, ...,  1.30616129,
        -0.95721365, -0.42388118]])

In [47]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.4, random_state = 42)

In [48]:
# lets print the shapes again 
print("Shape of the X Train :", X_train.shape)
print("Shape of the y Train :", y_train.shape)
print("Shape of the X test :", X_test.shape)
print("Shape of the y test :", y_test.shape)
print("Shape of the test data :", x_test.shape)

Shape of the X Train : (191062, 21)
Shape of the y Train : (191062,)
Shape of the X test : (127376, 21)
Shape of the y test : (127376,)
Shape of the test data : (137057, 21)

In [49]:
from sklearn.metrics import confusion_matrix, classification_report,accuracy_score
import warnings
warnings.filterwarnings('ignore')

In [50]:
from xgboost import XGBClassifier
xgb = XGBClassifier()
xgb.fit(X,y)

y_pred = xgb.predict(X_test)

print("Training Accuracy :", xgb.score(X_train, y_train))
print("Testing Accuracy :", xgb.score(X_test, y_test))



cr = classification_report(y_test, y_pred)
print(cr)

Training Accuracy : 0.45717620458280556
Testing Accuracy : 0.4587363396558221
              precision    recall  f1-score   support

           0       0.46      0.20      0.28      9443
           1       0.46      0.53      0.49     31236
           2       0.44      0.69      0.54     35178
           3       0.47      0.26      0.33     21974
           4       0.77      0.02      0.04      4666
           5       0.45      0.55      0.50     14039
           6       0.98      0.04      0.09      1098
           7       0.71      0.08      0.14      4072
           8       0.58      0.35      0.43      1934
           9       0.87      0.10      0.18      1084
          10       0.66      0.50      0.57      2652

    accuracy                           0.46    127376
   macro avg       0.62      0.30      0.33    127376
weighted avg       0.49      0.46      0.43    127376

In [51]:
df = pd.DataFrame(np.c_[y_test,y_pred], columns = ["actualpredict","machinepredict"])
df

        actualpredict  machinepredict
0                   5               1
1                   5               5
2                   2               2
3                   2               1
4                   3               2
...               ...             ...
127371              7               5
127372              2               2
127373              2               2
127374              3               3
127375              3               1

[127376 rows x 2 columns]

### Test Data

In [52]:
from sklearn.preprocessing import StandardScaler
sc_test = StandardScaler()
x_test =  sc_test.fit_transform(x_test)
x_test

array([[ 0.30762666,  0.4877631 , -0.56691147, ...,  1.30536861,
        -0.9554972 , -0.42488648],
       [ 1.2341249 , -0.82291912, -0.24456305, ..., -0.76606714,
         1.04657554, -0.42488648],
       [ 0.88668806, -0.16757801, -0.88925989, ...,  1.30536861,
        -0.9554972 , -0.42488648],
       ...,
       [ 1.34993718,  0.4877631 , -0.56691147, ..., -0.76606714,
        -0.9554972 ,  2.35356984],
       [-1.54536983, -0.82291912, -1.21160831, ..., -0.76606714,
         1.04657554, -0.42488648],
       [-1.42955755, -0.82291912,  0.40013379, ..., -0.76606714,
         1.04657554, -0.42488648]])

In [53]:
y_pred_test = xgb.predict(x_test)
y_pred_test

array([0, 5, 2, ..., 1, 1, 3], dtype=int64)

### Submission File Insert

In [54]:
sub = pd.read_csv('data/sample_submission_lfbv3c3.csv')

In [55]:
sub

        case_id  Stay
0        318439  0-10
1        318440  0-10
2        318441  0-10
3        318442  0-10
4        318443  0-10
...         ...   ...
137052   455491  0-10
137053   455492  0-10
137054   455493  0-10
137055   455494  0-10
137056   455495  0-10

[137057 rows x 2 columns]

In [56]:
sub['Stay'] = y_pred_test
sub

        case_id  Stay
0        318439     0
1        318440     5
2        318441     2
3        318442     2
4        318443     5
...         ...   ...
137052   455491     2
137053   455492     0
137054   455493     1
137055   455494     1
137056   455495     3

[137057 rows x 2 columns]

In [57]:
sub['Stay'] = sub['Stay'].replace((0,  4,  3,  1,  5,  2,  7, 10,  8,  6,  9),
                                  ('0-10', '41-50', '31-40', '11-20', '51-60', 
                        '21-30', '71-80','More than 100 Days', '81-90', '61-70', '91-100'))

In [58]:
sub

        case_id   Stay
0        318439   0-10
1        318440  51-60
2        318441  21-30
3        318442  21-30
4        318443  51-60
...         ...    ...
137052   455491  21-30
137053   455492   0-10
137054   455493  11-20
137055   455494  11-20
137056   455495  31-40

[137057 rows x 2 columns]

In [59]:
sub.to_csv("data/xgbsolution_final.csv", index=False)